---
interface Props {
  class?: string;
  title?: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<article
  class={`
  ${Astro.props.class}
  col-span-5
  relative
  backdrop-blur-md
  border border-black/10
  overflow-hidden
`}
>
<!-- bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80" -->
  <div
    class="absolute z-10 bottom-0 top-0 w-full h-full"
    >
  </div>

  <slot name="image" />
  </div>
</article>
